@model FmiScheduler.Models.EventCateg
@{
    ViewBag.Title = "Delete";
}
<h4 class="display-4 text-center mt-4">Ștergere categorie</h4>
<br> <br>

<h4 align="center"> Ești sigur că vrei să stergi categoria @Html.DisplayFor(model => model.Name) ?</h4>
<div align="center">
    @*<h4>EventCateg</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>*@

    <br> <br>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Șterge" class="card-link btn btn-danger" /> |
            @Html.ActionLink("Înapoi la lista de categorii", "Index")
        </div>
    }
</div>
